---
import Layout from '@layout/Layout.astro'
import Writing from '@components/writing/Writing.astro'
---

<Layout title="Blog" description="Lorem blog dolor sit" image="">
  <h1 class="h1">Writing</h1>
  <Writing />
</Layout>
