---
import s from './Hero.module.sass'
---

<main class={s.hero}>
  <h2>Senior Software Engineer / Full Stack Developer</h2>
  <h1>Non-CSE Background, Code, Curiosity, and Words.</h1>
  <nav>
    <a href="" target="_blank">Linkedin</a>
    <a href="" target="_blank">Github</a>
    <a href="" target="_blank">Resume</a>
  </nav>
</main>
