---
import s from './Aside.module.sass'
import Tile from '@components/tile/Tile.astro'
import Writing from '@components/writing/Writing.astro'
import Certifications from '@components/certifications/Certifications.astro'
import Work from '@components/work/Work.astro'
import Reading from '@components/reading/Reading.astro'
import Resources from '@components/resources/Resources.astro'
---

<aside class={s.aside}>
  <div class="container">
    <Tile title="Writing">
      <Writing />
    </Tile>
    <Tile title="Certifications">
      <Certifications />
    </Tile>
    <Tile title="Work">
      <Work />
    </Tile>
    <Tile title="Reading">
      <Reading />
    </Tile>
    <Tile title="Resources">
      <Resources />
    </Tile>
  </div>
</aside>
