@charset "utf-8"

@import "_config"
@import "fonts"

*
  &,
  &::before,
  &::after
    box-sizing: inherit

html
  box-sizing: border-box
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  font-size: 16px
  height: 100%

body
  min-height: 100%
  font-size: 62.5%
  font-family: $family-serif
  font-weight: 400
  line-height: $plh

html,
body,
// ol,
// ul,
// li,
// dl,
// dt,
// dd,
// blockquote,
// figure,
// fieldset,
// legend,
// textarea,
// pre,
// iframe,
// hr,
h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  padding: 0

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $family-serif
  line-height: $hlh
  font-size: 100%
  font-weight: normal

p
  line-height: $plh

// img,
// audio,
// video
//   height: auto
//   max-width: 100%
//   display: block
//   margin-left: auto
//   margin-right: auto

// iframe
//   border: 0

// table
//   border-collapse: collapse
//   border-spacing: 0

// td,
// th
//   padding: 0
//   text-align: left

// nav
//   display: flex
//   align-items: center
//   gap: 10px
//   margin: 1em 0

// a
//   display: inline-block
//   text-decoration: none
//   color: inherit

// a.active
//   /* font-weight: bolder; */
//   text-decoration: underline

// ul
//   margin: 2em 0 2em
//   padding-left: 1.3em
//   list-style-position: outside
//   li
//     margin: 0
//     padding: 0.4em 0
//     a
//       display: flex
//       gap: 10px
