@charset "utf-8"

@import "_config"
@import "fonts"

*
  &,
  &::before,
  &::after
    box-sizing: inherit

html
  +reset-all
  box-sizing: border-box
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  font-size: 16px
  height: 100%
  // font-size: 100%

body
  +reset-all
  font-size: 62.5%
  font-family: $family-sans
  font-weight: 400
  line-height: 1.6
  color: $text

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $family-serif
  font-weight: 600
  letter-spacing: -0.03em
  line-height: 1.1

a
  +reset-anchor
  text-decoration: none
  &:hover
    text-decoration: underline

img
  max-width: 100%
