$primary: #8C733B
$dark: #000C0B
$text: #2B2B2B

$family-serif: MontaguSlab16pt, Georgia, Cambria, "Times New Roman", Times, serif !default
$family-sans: "SpaceGrotesk", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default

$hlh: 1.1 !default // heading line height
$plh: 1.8 !default // body line height

// Design
$frame: 1440px !default
$min-frame: 375px
$max-frame: $frame

// Breakpoint
$tablet: 768px !default
$desktop: 1024px !default
$laptop: 1440px !default
