---
import s from './Tile.module.sass'
import TileLabel from './TileLabel.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<div class={s.tile}>
  <TileLabel title="Resource" />
  <slot />
</div>
