---
import s from './TileHero.module.sass'
import TileLabel from './TileLabel.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<div class={s.TileHero}>
  <div class={s.TileHero__image}>
    <img src="/foggy-forest.jpg" alt="" />
  </div>
  <div class={s.TileHero__container}>
    <TileLabel title="Resource" />
    <div>Load first item</div>
  </div>
</div>
