---
import s from './Tile.module.sass'
import TileLabel from './TileLabel.astro'

interface Props {
  title?: string
}

const { title } = Astro.props
---

<div class={s.Tile}>
  <div class={s.Tile__container}>
    {title && <TileLabel title={title} />}
    <slot />
  </div>
</div>
