---
import s from './Writing.module.sass'
import { getCollection, type CollectionEntry } from 'astro:content'
import DateFormat from '@components/DateFormat.astro'
import Tile from '@components/tile/Tile.astro'

const { slug } = Astro.props

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post: CollectionEntry<'blog'>) => post.slug != slug)
---

<Tile title="More writing">
  <ul class={s.readmore}>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            <p>
              <DateFormat date={post.data.pubDate} />
            </p>
            <h2>{post.data.title}</h2>
          </a>
        </li>
      ))
    }
  </ul>
</Tile>
