@import "@styles/_config"

.writing,
.readmore
  +reset-list
  display: flex
  flex-direction: column
  gap: 2em

  h2,
  p
    +reset-all

  p
    font-size: .7em
    color: inherit
    font-weight: 400
    margin-bottom: .5em
    letter-spacing: 0.04em

// .writing
//   li
//     &:first-child
//       opacity: 0.5
