---
import s from './Writing.module.sass'
import { getCollection, type CollectionEntry } from 'astro:content'
import DateFormat from '@components/DateFormat.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<ol class={s.writing}>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`}>
          <DateFormat date={post.data.pubDate} />
          <h3>{post.data.title}</h3>
        </a>
      </li>
    ))
  }
</ol>
