---
import s from './Navigation.module.sass'
import Link from '@components/Link.astro'
---

<nav class={s.navigation}>
  <Link href="/">Home</Link>
  <Link href="/blog">Writing</Link>
  <Link href="/resources">Resources</Link>
  <Link href="/about">About</Link>
</nav>
