---
import s from './Navigation.module.sass'
import Link from '@components/Link.astro'
---

<nav class={s.navigation}>
  <Link href="/">Back to home</Link>
  <Link href="/blog">Writing</Link>
  <Link href="/resources">Resources</Link>
</nav>
