---
import Layout from '@layout/Layout.astro'
import Hero from '@components/hero/Hero.astro'
import Aside from '@components/aside/Aside.astro'
import Link from '@components/Link.astro'
import Writing from '@components/writing/Writing.astro'
---

<Layout title="About" description="Lorem index dolor sit" image="">
  <h1 class="h1">About</h1>
</Layout>
