---
import Header from '@components/Header.astro'
import AppLayout from '@layout/AppLayout.astro'
import Footer from '@components/Footer.astro'
---

<AppLayout title="About" description="Lorem about dolor sit" image="">
  <Header full />
  <h1>About</h1>
  <Footer />
</AppLayout>
