---
import Header from '@components/Header.astro'
import AppLayout from '@layout/AppLayout.astro'
import Footer from '@components/Footer.astro'
---

<AppLayout title="Home" description="Lorem index dolor sit" image="">
  <!-- <Header /> -->
  <header class="header">Header</header>
  <div class="hero">
    <p class="kicker">Senior Software Engineer / Full Stack Developer</p>
    <h1 class="heading">Non-CSE Background, Code, Curiosity, and Words.</h1>
  </div>
  <main class="main">
    <div class="main-wrapper">
      <h2>Writing</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus nisi
        error, quasi facilis quo nulla incidunt officia iure obcaecati est
        tempora dignissimos, sit, voluptatibus veritatis aperiam molestias
        corrupti accusamus beatae.
      </p>
      <div class="box"></div>
      <div class="box"></div>
    </div>
  </main>
  <!-- <Footer /> -->
</AppLayout>
