---
import Layout from '@layout/Layout.astro'
import Hero from '@components/hero/Hero.astro'
import Aside from '@components/aside/Aside.astro'
import Writing from '@components/writing/Writing.astro'
import Tile from '@components/tile/Tile.astro'
import List from '@components/list/List.astro'
import ListLink from '@components/list/ListLink.astro'
import Main from '@components/main/Main.astro'
import TileLabel from '@components/tile/TileLabel.astro'
---

<Layout title="Resources" description="Lorem index dolor sit" image="">
  <Hero
    title="Dev Resources"
    description="Lorem index dolor sit"
    image="/public/foggy-forest.jpg"
  />
  <Main>
    <TileLabel title="Quick Reading" />
    <List>
      <ListLink href="#link" title="A Simple Guide to Being" />
      <ListLink
        href="#link"
        title="A Simple Guide to Being a Software Developer"
      />
      <ListLink
        href="#link"
        title="A Simple Guide to Being a Software Developer"
      />
      <ListLink
        href="#link"
        title="A Simple Guide to Being a Software Developer"
      />
    </List>
    <TileLabel title="Books" />
  </Main>
</Layout>
