@import "@styles/_config"

.header
  padding-left: percentage(60px/$frame)
  padding-right: percentage(60px/$frame)
  padding-top: 2.8em
  margin-left: auto
  margin-right: auto
  max-width: 40em
  display: flex
  align-items: flex-start
  justify-content: space-between

  nav
    display: flex
    gap: 2em
    justify-items: center
    font-size: 14px
    color: $primary
    font-weight: 400
    letter-spacing: 0.02em
    font-family: $family-serif
    a
      text-decoration: none
    :global(.active)
      text-decoration: underline

.logo
  +reset-anchor
  margin-right: 3em
  // font-size: 14px
  // color: $primary
  // font-weight: 400
  // letter-spacing: 0.02em
  // font-family: $family-serif

:global(.avatar)
  +reset-anchor
  width: 60px
  height: 100px
  background-color: $primary
  border-radius: 50%
  position: fixed
  top: 0
  right: 0
  margin-right: percentage(60px/$frame)
  margin-top: 2em

// .Header
//   border: 1px solid red
//   // padding-left: percentage(20px/$min-frame)
//   // padding-right: percentage(20px/$min-frame)
//   // padding-top: percentage(30px/$min-frame)
//   // padding-left: percentage(50px/$frame)*3
//   // padding-right: percentage(50px/$frame)*3
//   // padding-top: percentage(40px/$frame)
//   +desktop
//     // position: fixed
//     // top: 0
//     // left: 0
//     // width: 60%
//     // padding-left: percentage(50px/$frame)
//     // padding-right: percentage(50px/$frame)
//     // padding-top: percentage(40px/$frame)
//   &--full
//     // background-color: rgba(red, 0.1)
//     +desktop
//       // position: relative
//       // width: 100%
//       // padding-left: percentage(50px/$frame)*3
//       // padding-right: percentage(50px/$frame)*3
//       // padding-top: percentage(40px/$frame)
//   &__container
//     display: flex
//     justify-content: space-between
//     // max-width: $desktop
//     // margin-left: auto
//     // margin-right: auto
//     // border: 1px solid red

//   &__logo
//     +reset-anchor
//     font-size: 14px
//     color: $primary
//     font-weight: 400
//     letter-spacing: 0.02em
//     // margin-top: 1.4em
//   &__avatar
//     +reset-anchor
//     width: 60px
//     height: 100px
//     background-color: rgba(black, 0.1)
//     border-radius: 50%
