---
import { Image } from 'astro:assets'
import s from './Header.module.sass'
import c from 'classnames'

interface Props {
  home?: boolean
}

const { home } = Astro.props
---

<header class={c(s.Header, home && s.HomeHeader)}>
  <a class={s.logo} href="/">Md Mashqur Ul Alam</a>
  <a class={s.avatar} href="/"
    ><Image
      class="image"
      src="/public/avatar.jpg"
      alt="avatar"
      width={120}
      height={200}
    /></a
  >
</header>
