---
import s from './Header.module.sass'
---

<header class={s.header}>
  <a class={s.logo} href="/">Md Mashqur Ul Alam</a>
  <a class="avatar" href="/"><img src="/public/avatar.jpg" alt="" /></a>
</header>
