@import "@styles/_config"

.Header
  padding-left: calc(60px/$frame) * 100%
  padding-right: calc(60px/$frame) * 100%
  padding-top: 2.8em
  margin-left: auto
  margin-right: auto
  max-width: 40em
  display: flex
  align-items: flex-start
  justify-content: space-between
  position: relative
  z-index: 999

  nav
    display: flex
    gap: 2em
    justify-items: center
    font-size: 14px
    color: rgba(black, 0.5)
    a
      text-decoration: none
    :global(.active)
      text-decoration: underline

.logo
  +reset-anchor
  color: $primary
  letter-spacing: 0.02em
  font-size: 0.75em
  font-family: $family-serif
  margin-right: 2em

.avatar
  +reset-anchor
  width: 60px
  height: 100px
  background-color: rgba(black, 0.1)
  border-radius: 50%
  overflow: hidden
  position: fixed
  top: 0
  right: 0
  margin-right: calc(60px/$frame) * 100%
  margin-top: 2em
  // z-index: 10
  img
    width: 100%
    height: 100%
    object-fit: cover

.HomeHeader
  +desktop
    width: 60%
    max-width: 100%
    position: fixed
    top: 0
    left: 0
    padding-left: calc(50px/$frame) * 100%
    padding-right: calc(80px/$frame) * 100%

  .avatar
    +desktop
      right: 40%
