---
import '@styles/components/Header.sass'
import Link from './Link.astro'

interface Props {
  full?: boolean
}

const { full } = Astro.props
---

<header class={`Header${full === true ? ' Header--full' : ''}`}>
  <div class="Header__container">
    <h2><Link class="Header__logo" href="/">Md Mashqur Ul Alam</Link></h2>
    <Link class="Header__avatar" href="/" />
  </div>
</header>
