---
import '@styles/components/MainContent.sass'
import Writing from './writing/Writing.astro'
import Certifications from './certifications/Certifications.astro'
import Work from './work/Work.astro'
---

<div class="tile">
  <h4>Writing</h4>
  <Writing />
</div>

<div class="tile">
  <h4>Certifications</h4>
  <Certifications />
</div>

<div class="tile">
  <h4>Work</h4>
  <Work />
</div>
