---
import { getCollection, type CollectionEntry } from 'astro:content'
import DateFormat from '@components/DateFormat.astro'
import AppLayout from '@layout/AppLayout.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<h1>Posts</h1>
<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/blog/${post.slug}`}>
          <p>
            <DateFormat date={post.data.pubDate} />
          </p>
          <h4>{post.data.title}</h4>
        </a>
      </li>
    ))
  }
</ul>
