---
import s from './Certifications.module.sass'
---

<ol class={s.list}>
  <li>
    <div class="image"></div>
    <h3>Certified Laravel Developer</h3>
    <ul>
      <li>Issue: 01/12/2020</li>
      <li>Expire: Unknown</li>
    </ul>
  </li>
  <li>
    <div class="image"></div>
    <h3>Certified Scrum Developer®</h3>
    <ul>
      <li>Issue: 08/21/2021</li>
      <li>Expire: 11/09/2025</li>
    </ul>
  </li>
  <li>
    <div class="image"></div>
    <h3>Certified ScrumMaster®</h3>
    <ul>
      <li>Issue: 01/24/2021</li>
      <li>Expire: 11/09/2025</li>
    </ul>
  </li>
</ol>
