---
import s from './Resources.module.sass'
---

<ol class={s.list}>
  <li>
    <a href="mailto:mashqurulalam@gmail.com">
      <h4>Need more?</h4>
      <h2>I can share more on request</h2>
      <h5>Send request</h5>
    </a>
  </li>
  <li>
    <a href="/resources">
      <h4>Need development advice?</h4>
      <h2>Quick reads and blogs</h2>
      <h5>View resources</h5>
    </a>
  </li>
  <li>
    <a href="mailto:mashqurulalam@gmail.com">
      <h4>Stuck in something?</h4>
      <h2>I’m here let’s discuss</h2>
      <h5>Knock me</h5>
    </a>
  </li>
</ol>
