@import '@styles/_config'

.list
  // border: 1px solid red !important
  +reset-list
  display: flex
  flex-direction: column
  gap: 2em
  &__item
    padding: 1.5em
    background-color: white
    color: $text
    border-radius: .5em
    &:last-child
      background-color: #BFA15C
      color: $text

  &__link
    display: flex
    flex-direction: column
    &:hover
      text-decoration: none

  &__kicker,
  &__title,
  &__action
    +reset-all

  &__kicker
    font-weight: 300
    color: inherit
    margin-bottom: 0.4em
    &::after
      display: none

  &__action
    color: #614D20
    font-weight: 300
    margin-top: 1.5em
    letter-spacing: 0.005em
