---
import s from './Layout.module.sass'
import Head from '@components/Head.astro'
import Header from '@components/header/Header.astro'
import Navigation from '@components/navigation/Navigation.astro'

const { title, description, image } = Astro.props
---

<html lang="en">
  <head>
    <Head title={title} description={description} image={image} />
  </head>
  <body>
    <div class={s.app}>
      <Header />
      <!-- <Navigation /> -->
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
