@import "@styles/_config"

.app
  position: relative
  +ffs(24, 14)
  +laptop
    font-size: 2.4em
  main
    max-width: 40em
    padding-left: calc(60px/$frame) * 100%
    padding-right: calc(60px/$frame) * 100%
    margin-left: auto
    margin-right: auto
