---
import s from './Work.module.sass'
---

<ol class={s.hero}>
  <li>
    <p>Now – EastNetic</p>
    <h2>Sr. Software Engineer</h2>
  </li>
  <li>
    <p>Inside – Deligram</p>
    <h2>My Journey from Intern to Sr. SE at Deligram</h2>
    <ul>
      <li>As a Intern, learned APIs and contribute into projects.</li>
      <li>As a Jr. SE, developed APIs, & built backend.</li>
      <li>As a SE, designed architectures and managed servers.</li>
      <li>As a Sr. SE, led teams, managed CI/CD, and deploy.</li>
    </ul>
  </li>
  <li>
    <p>Inside – Triangle Services Limited</p>
    <h2>Software Engineer</h2>
  </li>
  <li>
    <p>Inside – TalhaTraining</p>
    <h2>Lorem ipsum is simply dum text of the printing</h2>
  </li>
</ol>
